$visited-color: #A7ADAD;
$visited-color2: #959c9c;
$current-color1: #D94141;
$current-color1_2: #d42626;
$current-color2: #F15A5A;
$current-color2_2: #ed3434;
$current-color3: #F9964F;
$current-color3_2: #f0761f;
$current-color4: #F5B658;
$current-color4_2: #f0a22e;
$current-color5: #58C67E;
$current-color5_2: #45B26B;

:export {
    currentColor1: $current-color1;
    currentColor1_2: $current-color1_2;
    currentColor2: $current-color2;
    currentColor2_2: $current-color2_2;
    currentColor3: $current-color3;
    currentColor3_2: $current-color3_2;
    currentColor4: $current-color4;
    currentColor4_2: $current-color4_2;
    currentColor5: $current-color5;
    currentolor5_2: $current-color5_2;
  }

.stack_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px 40px;
}

.stack_element {
    width: 100%;
    max-width: 500px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    margin: 6px 0;
    background:linear-gradient(to bottom, $visited-color 5%, $visited-color2 100%);
    background-color: $visited-color;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px 0 rgba(#000000, 0.5)
}

.stack_element:hover {
    cursor: pointer;
    background:linear-gradient(to bottom, $visited-color2 5%, $visited-color 100%);
    background-color: $visited-color2;
}

.stack_element:active {
	position: relative;
	top: 2px;
}

.stack_element h4 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

.stack_space{
    height: 20px;
}

.current1 {
    background:linear-gradient(to bottom, $current-color1 5%, $current-color1_2 100%);
    background-color: $current-color1;
}
.current1:hover {
    background:linear-gradient(to bottom, $current-color1_2 5%, $current-color1 100%);
    background-color: $current-color1_2;
}

.current2 {
    background:linear-gradient(to bottom, $current-color2 5%, $current-color2_2 100%);
    background-color: $current-color2;
}
.current2:hover {
    background:linear-gradient(to bottom, $current-color2_2 5%, $current-color2 100%);
    background-color: $current-color2_2;
}

.current3 {
    background:linear-gradient(to bottom, $current-color3 5%, $current-color3_2 100%);
    background-color: $current-color3;
}
.current3:hover {
    background:linear-gradient(to bottom, $current-color3_2 5%, $current-color3 100%);
    background-color: $current-color3_2;
}

.current4 {
    background:linear-gradient(to bottom, $current-color4 5%, $current-color4_2 100%);
    background-color: $current-color4;
}
.current4:hover {
    background:linear-gradient(to bottom, $current-color4_2 5%, $current-color4 100%);
    background-color: $current-color4_2;
}

.current5 {
    background:linear-gradient(to bottom, $current-color5 5%, $current-color5_2 100%);
    background-color: $current-color5;
}
.current5:hover {
    background:linear-gradient(to bottom, $current-color5_2 5%, $current-color5 100%);
    background-color: $current-color5_2;
}

