
.view_container {
    padding: 40px;
}

.view_title_wrapper {
    margin-bottom: 30px;
}

.view_title_wrapper h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.view_title_wrapper p {
    font-size: 16px;
    text-align: justify;
}

.date_input_wrapper {
    display: flex;
    flex-direction: row;
}

.MuiFormControl-root.MuiTextField-root{
    width: 150px;
}

.date_input {
    margin-right: 30px;
}

#time_slider{
    margin-top: 50px;
}